<header class="header" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">나만 아는 이스터에그 ㅎㅎ</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <!--                        로그인 되어있을 때 마이페이지 버튼으로 변경하는 로직임-->
           
           
          <!-- 로그인 전  -->
<li class="check" id="loginButtons" th:if="${not #authentication.isAuthenticated()}">
    <button onclick="window.location.href='/whitelabel/loginPage'" class="text-white">Sign in</button>
    <button onclick="window.location.href='/whitelabel/join'" class="text-white">Join</button>
</li>

<!-- 로그인 후 -->
<li class="check2" id="logoutButtons" th:if="${#authentication.isAuthenticated()}">
    <button onclick="window.location.href='/whitelabel/logout'" class="text-white">log out</button>
    <button onclick="window.location.href='/whitelabel/myPage'" class="text-white">my page</button>
</li>
				
            <li>
              <button onclick="toggleDarkMode()" id="button">
                <span id="modeText" style="color: white">Dark Mode</span>
              </button>
            </li>
            
          </ul>
          		
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm" style="margin-bottom: 0px">
    <div class="container">
      <a href="/whitelabel/index" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
             stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2"
             viewBox="0 0 24 24">
          <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/>
          <circle cx="12" cy="13" r="4"/>
        </svg>
        <strong>WhiteLabelSurvey</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
              aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
				<script>
				$.ajax({
				    url: "/whitelabel/checkLogin",
				    type: "GET",
				    success: function(isLoggedIn) {
				        if (isLoggedIn) { // 로그인 후
				            $("#loginButtons").hide();
				            $("#logoutButtons").show();
				        } else { // 로그인 전
				            $("#loginButtons").show();
				            $("#logoutButtons").hide();
				        }
				    }
				});
				</script>  
  
</header>
